.loader_bg {
  position: fixed;
  z-index: 9999999;
  background-color: #242b78;
  width: 100%;
  height: 100%; }

.loader {
  border: 0 solid transparent;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  position: absolute;
  top: calc(50vh - 7.5rem);
  left: calc(50vw - 7.5rem); }
  .loader::before, .loader::after {
    content: "";
    border: 0.5rem solid #fff;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0; }
  .loader::before {
    animation-delay: 0.5s; }

@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 0; } }
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;
  color: #000;
  line-height: 1.9;
  backface-visibility: hidden;
  font-size: 1.6rem; }

.top-nav-area {
  background-color: #242b78; }

.top-nav {
  height: 5rem;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 400;
  color: #fff; }
  .top-nav .open-hours {
    flex: 1; }
  .top-nav .location {
    padding: 0 4rem;
    border-right: 0.5px solid #8b8888; }
  .top-nav .phone {
    padding: 0 3rem 0 3rem; }
  .top-nav .login {
    padding: 0 6rem 0 4rem; }
    .top-nav .login__btn {
      font-size: 1.2rem; }
  .top-nav .top-icon {
    margin-right: 0.5rem;
    color: #079bde; }
  .top-nav .social-top a {
    color: #fff; }
  .top-nav .fab {
    margin-right: 10px;
    transition: 0.2s all;
    color: #fff; }
    .top-nav .fab:hover {
      color: #079bde; }

.navbar {
  font-family: "Lato";
  font-size: 1.44rem;
  backface-visibility: hidden;
  height: 7.5rem; }
  .navbar .nav-item:not(:last-child) {
    margin-right: 1.5rem; }
  .navbar .nav-item .nav-link {
    color: #424141;
    text-transform: uppercase;
    font-weight: 700; }
  .navbar .dropdown-menu {
    padding: 1rem 1.2rem; }
    .navbar .dropdown-menu .dropdown-item {
      font-size: 1.45rem;
      padding-bottom: 0.5rem;
      text-transform: uppercase; }
  .navbar .dropdown:hover > .dropdown-menu {
    display: block; }

.fixed-top {
  background-color: #fff;
  opacity: 0.9;
  animation: fadeIn 1s ease-out; }

.showcase-area {
  height: 55rem;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url(/images/slide2.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  backface-visibility: hidden; }
  .showcase-area--text {
    width: 70%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    font-weight: 300; }
    .showcase-area--text h4 {
      font-size: 4.8rem;
      font-weight: 300;
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      animation-delay: 1s; }
    .showcase-area--text h1 {
      font-size: 6rem;
      font-weight: 600;
      animation: moveInLeft 1s ease-out 1s; }
    .showcase-area--text p {
      animation: moveInRight 1s ease-out 1s; }
    .showcase-area--text .btn {
      color: #fff;
      padding: 1.4rem 1.4rem;
      font-size: 1.4rem;
      animation: moveInTop 1s ease-out; }

#workflow {
  font-size: 1.6rem;
  font-weight: 400;
  color: #000;
  font-family: "Poppins";
  padding: 10rem 0; }
  #workflow .workflow {
    display: flex; }

#services {
  padding: 11rem 0; }
  #services .services-main__content-icon {
    margin-right: 1rem;
    font-size: 1.5rem;
    color: #4d4b4b; }
    #services .services-main__content-icon .serv-icon {
      border: 1px solid #242b78;
      border-radius: 50%;
      padding: 1rem;
      color: #242b78; }
  #services .services-main__content {
    display: flex; }
  #services .services-main__img img {
    width: 54rem;
    height: auto; }

#values {
  padding: 10rem;
  position: relative;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(../images/background-1.jpg);
  background-attachment: fixed;
  min-height: 500px;
  color: #fff; }
  #values .first,
  #values .one,
  #values .two,
  #values .second {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;
    width: 30rem;
    height: 25rem;
    color: #dad8d8;
    text-transform: uppercase;
    background-color: #2c3492;
    transition: all 0.4s ease-out; }
    #values .first:hover,
    #values .one:hover,
    #values .two:hover,
    #values .second:hover {
      color: #242b78;
      background-color: #dad8d8; }
  #values .first,
  #values .one {
    justify-content: center;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%); }
    #values .first .val-icon--top,
    #values .one .val-icon--top {
      font-size: 4rem;
      padding: 5rem 0 0 0; }
  #values .one {
    margin-left: -13.25rem; }
  #values .second,
  #values .two {
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    margin-left: -13.25rem; }
    #values .second .val-icon--bottom,
    #values .two .val-icon--bottom {
      font-size: 4rem; }

.details {
  padding: 7rem 0; }
  .details__img {
    width: 100%;
    height: 25rem; }
  .details__content {
    padding: 2.5rem 1.5rem 1rem;
    background-color: #fff; }
  .details ul {
    margin-top: -0.8rem; }
    .details ul li {
      font-size: 1.3rem; }
  .details .details__btn {
    display: flex;
    justify-content: flex-end; }
    .details .details__btn .loadbtn {
      padding: 0.6rem 0.8rem;
      font-size: 1.2rem; }

.contact {
  width: 100%;
  height: 60rem;
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(../images/serv-2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  color: #fff; }
  .contact-layer {
    width: 100%;
    height: 100%;
    z-index: 7777;
    position: relative; }
  .contact__details {
    width: 100%;
    height: 60rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .contact__details-box {
      width: 60%;
      height: 35rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .contact__details-box-content {
        display: flex; }
        .contact__details-box-content .contact-icon {
          font-size: 2.5rem;
          padding-top: 0.9rem;
          margin-right: 2.5rem; }
        .contact__details-box-content span {
          font-weight: 500;
          font-size: 1.8rem; }
        .contact__details-box-content p {
          font-weight: 300;
          font-size: 1.5rem; }

.contact__form {
  width: 100%;
  height: 60rem;
  background-color: rgba(255, 255, 255, 0.7);
  clip-path: polygon(0 0, 93% 0, 100% 100%, 0% 100%); }

.form {
  padding: 6rem 8rem;
  color: #999; }
  .form__group:not(:last-child) {
    margin-bottom: 1.3rem; }
  .form h2 {
    font-size: 2.5rem;
    font-weight: 500;
    color: #424141;
    margin-bottom: 4rem; }
  .form__input {
    padding: 1.1rem 1rem;
    border: none;
    color: #424141;
    font-family: inherit;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 1.5rem;
    border-radius: 2px;
    width: 90%;
    display: block; }
    .form__input:focus {
      outline: none; }
    .form__input::-webkit-input-placeholder {
      color: #999; }
  .form__label {
    display: block;
    color: #424141;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 1rem;
    margin-top: 0.3rem;
    transition: all 0.2s; }
  .form .form__btn {
    padding: 1rem 1rem;
    font-size: 1.4rem; }
  .form .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-1rem); }

.form-modal {
  background-color: #f0efef; }

.modal-details {
  font-size: 1.3rem;
  align-self: center;
  padding-left: 3rem; }
  .modal-details a {
    text-decoration: none;
    color: #079bde; }
  .modal-details span {
    color: #424141; }

#showcase-about {
  width: 100%;
  height: 40rem;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(../images/about-banner.jpg);
  background-position: center;
  background-size: cover;
  position: relative; }
  #showcase-about .showcase-about {
    position: relative;
    width: 100%;
    height: 30rem; }
    #showcase-about .showcase-about__content {
      z-index: 1003;
      width: 40rem;
      height: 10rem;
      position: absolute;
      top: 140px;
      left: 3%; }
      #showcase-about .showcase-about__content h3 {
        margin-bottom: 2rem;
        margin-left: 1rem; }
      #showcase-about .showcase-about__content p {
        color: #242b78;
        margin-left: 1rem; }
  #showcase-about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f8f9fa;
    clip-path: polygon(0 0, 29% 0, 46% 100%, 0 100%); }

.about-section-1 {
  padding: 9rem 10rem; }
  .about-section-1__content {
    text-align: center;
    position: relative; }
    .about-section-1__content::after {
      content: "";
      width: 20rem;
      height: 0.1rem;
      background-color: #242b78;
      position: absolute;
      top: 35%;
      left: 40%; }
  .about-section-1__icon-box {
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
    text-align: center; }
    .about-section-1__icon-box .abt-sec1-icon {
      font-size: 5rem;
      color: #505050;
      margin-bottom: 3rem; }
    .about-section-1__icon-box-main {
      transition: all 1s ease-out; }
      .about-section-1__icon-box-main:hover .abt-sec1-icon {
        color: #242b78; }

.about-section-2 {
  padding: 5rem;
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/about-bg-misson.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }
  .about-section-2 .about-section-2__content-box {
    display: flex;
    align-items: center;
    color: #fff; }
    .about-section-2 .about-section-2__content-box .abt-sec2-icon {
      font-size: 6rem;
      margin-right: 5rem; }

.about-section-3 {
  padding: 15rem; }
  .about-section-3 .nav {
    justify-content: center; }
  .about-section-3 .nav-link {
    padding: 0.5rem 3rem; }
  .about-section-3 .nav-tabs {
    border-bottom: 1px solid #dee2e6; }
  .about-section-3 .nav-tabs .nav-item {
    margin-bottom: -1px; }
  .about-section-3 .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    color: #000; }
  .about-section-3 .nav-tabs .nav-link:hover,
  .about-section-3 .nav-tabs .nav-link:focus {
    border-color: none; }
  .about-section-3 .nav-tabs .nav-link.active,
  .about-section-3 .nav-tabs .nav-item.show .nav-link {
    color: #242b78;
    background-color: transparent;
    border-bottom: 2px solid #242b78; }
  .about-section-3 .about-tab-content {
    padding: 4rem;
    background-color: #fff;
    font-size: 1.4rem;
    font-weight: 400; }

.showcase-medical {
  position: relative;
  width: 100%;
  height: 40rem;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8));
  overflow: hidden; }
  .showcase-medical__bg-video {
    position: absolute;
    top: -70px;
    left: 0;
    width: 100%;
    object-fit: cover;
    z-index: -1; }
  .showcase-medical__data {
    z-index: 1003;
    width: 40rem;
    height: 10rem;
    position: absolute;
    top: 140px;
    left: 7%; }
    .showcase-medical__data h3 {
      margin-bottom: 2rem;
      margin-left: 1rem; }
    .showcase-medical__data p {
      margin-left: 1rem;
      color: #242b78; }
  .showcase-medical::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f8f9fa;
    clip-path: polygon(0 0, 29% 0, 46% 100%, 0 100%); }

.medi-section-1 {
  padding: 15rem 0 8rem; }
  .medi-section-1__content {
    text-align: center;
    position: relative; }

.tabs-data {
  font-size: 1.4rem; }
  .tabs-data .list {
    list-style: none; }
    .tabs-data .list li:not(:last-child) {
      margin-bottom: 0.5rem; }
    .tabs-data .list li::before {
      font-family: "Font Awesome 5 Free";
      font-weight: 700;
      content: "\f00c";
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      margin-right: 1rem;
      color: #242b78; }

.background-data {
  background-color: #242b78;
  color: #fff;
  padding: 2rem 3rem;
  border-radius: 2px;
  transition: all 0.2s; }
  .background-data:hover {
    background-color: #fff;
    color: #242b78; }

.team-showcase {
  width: 100%;
  height: 70vh;
  background-image: linear-gradient(to right, #079bde, #242b78);
  background-position: center;
  background-size: cover;
  position: relative; }
  .team-showcase__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #fff; }
    .team-showcase__content h2 {
      font-size: 3rem;
      font-weight: 500;
      text-transform: uppercase; }

.our-team__data {
  width: 100%;
  height: 40rem;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.4s; }
  .our-team__data:hover {
    background-color: #242b78;
    color: #fff; }
.our-team__img {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  margin-top: -10rem; }
.our-team__content {
  margin-top: 2rem;
  text-align: center; }
  .our-team__content h2 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 1.5rem; }
  .our-team__content h4 {
    font-size: 1.6rem;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 1.3rem; }
.our-team__iconbox {
  margin-right: 1rem; }

#footer {
  padding: 8rem 15rem 5rem;
  background-image: url(../images/bg-footer.png);
  color: #fff; }
  #footer .footer-main__links {
    display: flex;
    justify-content: space-between; }
    #footer .footer-main__links li {
      list-style: none; }
      #footer .footer-main__links li a {
        text-decoration: none;
        color: #fff; }
  #footer .footer-main__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6rem 0; }
  #footer .footer-main .footer-text {
    font-size: 1.3rem;
    font-weight: 300; }

.text-1 {
  color: #fff; }

.heading-primary,
.heading-white {
  font-size: 3.7rem;
  font-weight: 500;
  color: #242b78;
  position: relative; }
  .heading-primary::after,
  .heading-white::after {
    content: "";
    width: 20rem;
    height: 0.1rem;
    background-color: #242b78;
    position: absolute;
    top: 170%;
    left: 41%; }

.heading-white {
  color: #fff; }
  .heading-white::after {
    background-color: transparent; }

.heading-secondary {
  font-size: 1.7rem;
  font-weight: 500;
  color: #242b78; }

.heading-light {
  font-size: 3rem;
  font-weight: 500; }

.heading-new {
  font-size: 2rem;
  font-weight: 500;
  color: #242b78; }

.heading-main-text {
  font-size: 1.8rem;
  font-weight: 400;
  padding: 2.8rem 10rem 1rem; }

.heading-small {
  font-size: 1.8rem;
  font-weight: 600;
  color: #242b78; }

.heading-showcase {
  font-size: 3.7rem;
  font-weight: 500; }

.para-primary {
  font-size: 1.4rem;
  font-weight: 400;
  padding: 2.8rem 20rem 1rem; }

.para-secondary {
  font-size: 1.4rem;
  font-weight: 400; }

.para-main {
  font-size: 1.4rem;
  font-weight: 400;
  padding: 6rem 12rem; }

.para-main1 {
  font-size: 1.4rem;
  font-weight: 400;
  padding: 4rem 12rem 3rem; }
  .para-main1:last-child {
    padding-top: 0; }

.para-grid {
  font-size: 1.4rem;
  font-weight: 400;
  padding: 0 7.5rem; }

.para-grid-small {
  font-size: 1.4rem;
  font-weight: 400;
  padding: 2rem 3rem; }

.para {
  font-size: 1.4rem;
  font-weight: 400;
  padding: 5rem 8rem; }

.mb2 {
  margin-bottom: 4rem; }

.mb5 {
  margin-bottom: 5rem; }

.mb7 {
  margin-bottom: 7rem; }

.mt2 {
  margin-top: 5rem; }

.mtlarge {
  margin-top: 10rem; }

section {
  transition: transform 0.4s, opacity 0.4s; }

.section-hidden {
  opacity: 0;
  transform: translateY(5rem); }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(300px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }
@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  100% {
    opacity: 1;
    transform: translate(0); } }
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px); }
  75% {
    opacity: 0.75;
    transform: translateY(-3px); }
  100% {
    opacity: 1;
    transform: translate(0); } }
.soon {
  width: 100%;
  height: 90vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom right, rgba(36, 43, 120, 0.7), rgba(7, 155, 222, 0.8)); }
