// Colors
$primary-color-1: #242b78;
$primary-color-2: #079bde;

// Loader

.loader_bg {
  position: fixed;
  z-index: 9999999;
  background-color: $primary-color-1;
  width: 100%;
  height: 100%;
}

.loader {
  border: 0 solid transparent;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  position: absolute;
  top: calc(50vh - 7.5rem);
  left: calc(50vw - 7.5rem);

  &::before,
  &::after {
    content: "";
    border: 0.5rem solid #fff;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
  }

  &::before {
    animation-delay: 0.5s;
  }
}

@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;
  color: #000;
  line-height: 1.9;
  backface-visibility: hidden;
  font-size: 1.6rem;
}

// Top Navigation

.top-nav-area {
  background-color: $primary-color-1;
}

.top-nav {
  height: 5rem;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 400;
  color: #fff;

  //   & > * {
  //     padding: 0 3rem;
  //   }

  .open-hours {
    flex: 1;
  }
  .location {
    padding: 0 4rem;
    border-right: 0.5px solid #8b8888;
  }
  .phone {
    padding: 0 3rem 0 3rem;
  }

  .login {
    padding: 0 6rem 0 4rem;
    &__btn {
      font-size: 1.2rem;
    }
  }

  .top-icon {
    margin-right: 0.5rem;
    color: $primary-color-2;
    // color: #de354c;
  }

  .social-top {
    a {
      color: #fff;
    }
  }

  .fab {
    margin-right: 10px;
    transition: 0.2s all;
    color: #fff;

    &:hover {
      color: $primary-color-2;
    }
  }
}

// NavBar

.navbar {
  font-family: "Lato";
  font-size: 1.44rem;
  backface-visibility: hidden;
  height: 7.5rem;

  .nav-item {
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
    .nav-link {
      color: #424141;
      text-transform: uppercase;
      font-weight: 700;
    }
  }

  .dropdown-menu {
    padding: 1rem 1.2rem;
    .dropdown-item {
      font-size: 1.45rem;
      padding-bottom: 0.5rem;
      text-transform: uppercase;
    }
  }

  .dropdown:hover > .dropdown-menu {
    display: block;
  }
}

.fixed-top {
  background-color: #fff;
  opacity: 0.9;
  animation: fadeIn 1s ease-out;
}

// Showcase Area

.showcase-area {
  height: 55rem;
  background-image: linear-gradient(to right, rgba(#000, 0.6), rgba(#000, 0.4)),
    url(/images/slide2.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  backface-visibility: hidden;

  &--text {
    width: 70%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    font-weight: 300;

    h4 {
      font-size: 4.8rem;
      font-weight: 300;

      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      animation-delay: 1s;
    }

    h1 {
      font-size: 6rem;
      font-weight: 600;

      animation: moveInLeft 1s ease-out 1s;
    }

    p {
      animation: moveInRight 1s ease-out 1s;
    }

    .btn {
      color: #fff;
      padding: 1.4rem 1.4rem;
      font-size: 1.4rem;

      animation: moveInTop 1s ease-out;
    }
  }
}

// Workflow

#workflow {
  font-size: 1.6rem;
  font-weight: 400;
  color: #000;
  font-family: "Poppins";
  padding: 10rem 0;

  .workflow {
    display: flex;
  }
}

// Services
#services {
  padding: 11rem 0;

  .services-main {
    &__content-icon {
      margin-right: 1rem;
      font-size: 1.5rem;
      color: #4d4b4b;

      .serv-icon {
        border: 1px solid $primary-color-1;
        border-radius: 50%;
        padding: 1rem;
        color: $primary-color-1;
      }
    }
    &__content {
      display: flex;
    }

    &__img img {
      width: 54rem;
      height: auto;
    }
  }
}

// Value Section

#values {
  padding: 10rem;
  position: relative;
  background-image: linear-gradient(to right, rgba(#000, 0.8), rgba(#000, 0.7)),
    url(../images/background-1.jpg);
  background-attachment: fixed;
  min-height: 500px;
  color: #fff;

  .first,
  .one,
  .two,
  .second {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;
    width: 30rem;
    height: 25rem;
    color: #dad8d8;
    text-transform: uppercase;
    background-color: #2c3492;
    transition: all 0.4s ease-out;

    &:hover {
      color: $primary-color-1;
      background-color: #dad8d8;
    }
  }

  .first,
  .one {
    justify-content: center;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

    .val-icon--top {
      font-size: 4rem;
      padding: 5rem 0 0 0;
    }
  }

  .one {
    margin-left: -13.25rem;
  }

  .second,
  .two {
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    margin-left: -13.25rem;

    .val-icon--bottom {
      font-size: 4rem;
    }
  }
}

// Details

.details {
  padding: 7rem 0;

  &__img {
    width: 100%;
    height: 25rem;
  }

  &__content {
    padding: 2.5rem 1.5rem 1rem;

    background-color: #fff;
  }

  ul {
    margin-top: -0.8rem;
    li {
      font-size: 1.3rem;
    }
  }

  .details__btn {
    display: flex;
    justify-content: flex-end;
    .loadbtn {
      padding: 0.6rem 0.8rem;
      font-size: 1.2rem;
    }
  }
}

.contact {
  width: 100%;
  height: 60rem;
  background-image: linear-gradient(
      to bottom right,
      rgba(#000, 0.7),
      rgba(#000, 0.8)
    ),
    url(../images/serv-2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  color: #fff;

  &-layer {
    width: 100%;
    height: 100%;
    z-index: 7777;
    // background-image: linear-gradient(
    //   to right,
    //   rgba(#fff, 0.5),
    //   rgba(#fff, 0.6)
    // );
    position: relative;
  }

  &__details {
    // background-color: orangered;
    width: 100%;
    height: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &-box {
      width: 60%;
      height: 35rem;
      // background-color: #bbb;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &-content {
        display: flex;

        .contact-icon {
          font-size: 2.5rem;
          padding-top: 0.9rem;
          margin-right: 2.5rem;
        }

        span {
          font-weight: 500;
          font-size: 1.8rem;
        }

        p {
          font-weight: 300;
          font-size: 1.5rem;
        }
      }
    }
  }

  // .contact__form {
  //   width: 100%;
  //   height: 60rem;
  //   background-color: rgba(#fff, 0.7);
  // }

  // .form {
  //   padding: 6rem 8rem;
  //   color: #999;

  //   &__group:not(:last-child) {
  //     margin-bottom: 1.3rem;
  //   }
  //   h2 {
  //     font-size: 2.5rem;
  //     font-weight: 500;
  //     color: #424141;
  //     text-align: center;
  //     margin-bottom: 4rem;
  //   }

  //   &__input {
  //     padding: 1.1rem 1rem;
  //     border: none;
  //     color: rgb(66, 65, 65);
  //     font-family: inherit;
  //     background-color: rgba(#fff, 0.5);
  //     font-size: 1.5rem;
  //     border-radius: 2px;
  //     width: 90%;
  //     display: block;

  //     &:focus {
  //       outline: none;
  //     }

  //     &::-webkit-input-placeholder {
  //       color: #999;
  //     }
  //   }

  //   &__label {
  //     display: block;
  //     color: #424141;
  //     font-size: 1.2rem;
  //     font-weight: 500;
  //     margin-left: 1rem;
  //     margin-top: 0.3rem;
  //     transition: all 0.2s;
  //   }

  //   .form__btn {
  //     padding: 1rem 1rem;
  //     font-size: 1.4rem;
  //   }

  //   .form__input:placeholder-shown + .form__label {
  //     opacity: 0;
  //     visibility: hidden;
  //     transform: translateY(-1rem);
  //   }
  // }
}

.contact__form {
  width: 100%;
  height: 60rem;
  background-color: rgba(#fff, 0.7);
  clip-path: polygon(0 0, 93% 0, 100% 100%, 0% 100%);
}

.form {
  padding: 6rem 8rem;
  color: #999;

  &__group:not(:last-child) {
    margin-bottom: 1.3rem;
  }
  h2 {
    font-size: 2.5rem;
    font-weight: 500;
    color: #424141;
    // text-align: center;
    margin-bottom: 4rem;
  }

  &__input {
    padding: 1.1rem 1rem;
    border: none;
    color: rgb(66, 65, 65);
    font-family: inherit;
    background-color: rgba(#fff, 0.5);
    font-size: 1.5rem;
    border-radius: 2px;
    width: 90%;
    display: block;

    &:focus {
      outline: none;
    }

    &::-webkit-input-placeholder {
      color: #999;
    }
  }

  &__label {
    display: block;
    color: #424141;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 1rem;
    margin-top: 0.3rem;
    transition: all 0.2s;
  }

  .form__btn {
    padding: 1rem 1rem;
    font-size: 1.4rem;
  }

  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-1rem);
  }
}

.form-modal {
  background-color: #f0efef;
}

.modal-details {
  font-size: 1.3rem;
  align-self: center;
  padding-left: 3rem;

  a {
    text-decoration: none;
    color: $primary-color-2;
  }
  span {
    color: #424141;
  }
}

// About Page

#showcase-about {
  width: 100%;
  height: 40rem;
  background-image: linear-gradient(to right, rgba(#000, 0.3), rgba(#000, 0.4)),
    url(../images/about-banner.jpg);
  background-position: center;
  background-size: cover;
  position: relative;

  .showcase-about {
    position: relative;
    width: 100%;
    height: 30rem;

    &__content {
      z-index: 1003;
      width: 40rem;
      height: 10rem;
      position: absolute;
      top: 140px;
      left: 3%;

      h3 {
        // font-size: 4.4rem;
        // font-weight: 500;
        margin-bottom: 2rem;
        margin-left: 1rem;
      }

      p {
        // font-size: 2rem;
        color: $primary-color-1;
        margin-left: 1rem;
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f8f9fa;
    clip-path: polygon(0 0, 29% 0, 46% 100%, 0 100%);
  }
}

.about-section-1 {
  padding: 9rem 10rem;

  &__content {
    text-align: center;
    position: relative;

    &::after {
      content: "";
      width: 20rem;
      height: 0.1rem;
      background-color: $primary-color-1;
      position: absolute;
      top: 35%;
      left: 40%;
    }
  }

  &__icon-box {
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
    text-align: center;

    .abt-sec1-icon {
      font-size: 5rem;
      color: #505050;
      margin-bottom: 3rem;
    }

    &-main {
      transition: all 1s ease-out;
      &:hover .abt-sec1-icon {
        color: $primary-color-1;
      }
    }
  }
}

.about-section-2 {
  padding: 5rem;
  background-image: linear-gradient(
      to bottom right,
      rgba(#000, 0.7),
      rgba(#000, 0.7)
    ),
    url(../images/about-bg-misson.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  .about-section-2__content-box {
    display: flex;
    align-items: center;
    color: #fff;

    .abt-sec2-icon {
      font-size: 6rem;
      margin-right: 5rem;
    }
  }
}

.about-section-3 {
  padding: 15rem;

  // NavPills

  .nav {
    justify-content: center;
  }

  .nav-link {
    padding: 0.5rem 3rem;
  }

  .nav-tabs {
    border-bottom: 1px solid #dee2e6;
  }
  .nav-tabs .nav-item {
    margin-bottom: -1px;
  }
  .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    color: #000;
  }
  .nav-tabs .nav-link:hover,
  .nav-tabs .nav-link:focus {
    // border-color: #e9ecef #e9ecef #dee2e6;
    border-color: none;
  }
  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link {
    // color: #495057;
    color: $primary-color-1;
    // background-color: #fff;
    background-color: transparent;
    // border-color: #dee2e6 #dee2e6 #fff;
    border-bottom: 2px solid $primary-color-1;
  }

  .about-tab-content {
    padding: 4rem;
    background-color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
  }
}

// #about-details {
//   padding: 15rem;
//   font-family: "Poppins";

//   .about-details-main {
//     &:not(:last-child) {
//       margin-bottom: 7rem;
//     }
//   }

//   .about-img-left {
//     width: 43rem;
//     height: 28rem;

//     img {
//       width: 100%;
//       height: 100%;
//     }
//   }

//   // p {
//   //   font-size: 1rem;
//   // }
// }

// Medical Transcription

.showcase-medical {
  position: relative;
  width: 100%;
  height: 40rem;
  background-image: linear-gradient(to right, rgba(#000, 0.7), rgba(#000, 0.8));
  overflow: hidden;

  &__bg-video {
    position: absolute;
    top: -70px;
    left: 0;
    width: 100%;
    // height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  &__data {
    z-index: 1003;
    width: 40rem;
    height: 10rem;
    position: absolute;
    top: 140px;
    left: 7%;
    h3 {
      margin-bottom: 2rem;
      margin-left: 1rem;
    }

    p {
      margin-left: 1rem;
      color: $primary-color-1;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f8f9fa;
    clip-path: polygon(0 0, 29% 0, 46% 100%, 0 100%);
  }
}

.medi-section-1 {
  padding: 15rem 0 8rem;

  &__content {
    text-align: center;
    position: relative;

    // &::after {
    //   content: "";
    //   width: 20rem;
    //   height: 0.2rem;
    //   background-color: $primary-color-1;
    //   position: absolute;
    //   top: 16%;
    //   left: 41%;
    // }
  }
}

.tabs-data {
  font-size: 1.4rem;

  .list {
    list-style: none;
    li {
      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
      &::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 700;
        content: "\f00c";
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        margin-right: 1rem;
        color: $primary-color-1;
      }
    }
  }
}

.background-data {
  background-color: $primary-color-1;
  color: #fff;
  padding: 2rem 3rem;
  border-radius: 2px;
  transition: all 0.2s;

  &:hover {
    background-color: #fff;
    color: $primary-color-1;
  }
}

// Team-Page

.team-showcase {
  width: 100%;
  height: 70vh;
  background-image: linear-gradient(
    to right,
    $primary-color-2,
    $primary-color-1
  );
  background-position: center;
  background-size: cover;
  position: relative;

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;

    h2 {
      font-size: 3rem;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}

.our-team {
  &__data {
    width: 100%;
    height: 40rem;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;

    &:hover {
      background-color: $primary-color-1;
      color: #fff;
    }
  }

  &__img {
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    margin-top: -10rem;
  }

  &__content {
    margin-top: 2rem;
    text-align: center;

    h2 {
      font-size: 1.8rem;
      font-weight: 500;
      margin-bottom: 1.5rem;
    }
    h4 {
      font-size: 1.6rem;
      font-weight: 400;
      font-style: italic;
      margin-bottom: 1.3rem;
    }
  }

  &__iconbox {
    margin-right: 1rem;
  }
}

// Footer

#footer {
  padding: 8rem 15rem 5rem;
  background-image: url(../images/bg-footer.png);
  // background-color: #37383d;
  color: #fff;

  .footer-main {
    &__links {
      display: flex;
      justify-content: space-between;

      li {
        list-style: none;

        a {
          text-decoration: none;
          color: #fff;
        }
      }
    }

    &__logo {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 6rem 0;
    }

    .footer-text {
      font-size: 1.3rem;
      font-weight: 300;
    }
  }
}

// #footer {
//   padding: 7rem;
//   background-image: linear-gradient(
//     to bottom right,
//     rgba($primary-color-1, 1),
//     rgba($primary-color-1, 0.9)
//   );

//   font-size: 1.6rem;
//   color: #fff;

//   ul {
//     list-style: none;

//     li {
//       a {
//         text-decoration: none;
//         color: #fff;
//         font-size: 1.4rem;
//       }
//     }
//   }

//   h3 {
//     font-size: 2.2rem;
//     font-weight: 500;
//   }

//   p {
//     font-size: 1.4rem;
//   }
// }
// Text Colors

.text-1 {
  color: #fff;
}

.heading-primary,
.heading-white {
  font-size: 3.7rem;
  font-weight: 500;
  color: $primary-color-1;
  position: relative;

  &::after {
    content: "";
    width: 20rem;
    height: 0.1rem;
    background-color: $primary-color-1;
    position: absolute;
    top: 170%;
    left: 41%;
  }
}

.heading-white {
  color: #fff;
  &::after {
    background-color: transparent;
  }
}

.heading-secondary {
  font-size: 1.7rem;
  font-weight: 500;
  color: $primary-color-1;
}

.heading-light {
  font-size: 3rem;
  font-weight: 500;
}

.heading-new {
  font-size: 2rem;
  font-weight: 500;
  color: $primary-color-1;
}

.heading-main-text {
  font-size: 1.8rem;
  font-weight: 400;
  padding: 2.8rem 10rem 1rem;
}

.heading-small {
  font-size: 1.8rem;
  font-weight: 600;
  color: $primary-color-1;
}

.heading-showcase {
  font-size: 3.7rem;
  font-weight: 500;
}

// .para-showcase {

// }

.para-primary {
  // font-family: "Lato";
  font-size: 1.4rem;
  font-weight: 400;
  padding: 2.8rem 20rem 1rem;
}

.para-secondary {
  font-size: 1.4rem;
  font-weight: 400;
}

.para-main {
  font-size: 1.4rem;
  font-weight: 400;
  padding: 6rem 12rem;
}

.para-main1 {
  font-size: 1.4rem;
  font-weight: 400;
  padding: 4rem 12rem 3rem;

  &:last-child {
    padding-top: 0;
  }
}

.para-grid {
  font-size: 1.4rem;
  font-weight: 400;
  padding: 0 7.5rem;
}

.para-grid-small {
  font-size: 1.4rem;
  font-weight: 400;
  padding: 2rem 3rem;
}

.para {
  font-size: 1.4rem;
  font-weight: 400;
  padding: 5rem 8rem;
}

// Margins

.mb2 {
  margin-bottom: 4rem;
}

.mb5 {
  margin-bottom: 5rem;
}

.mb7 {
  margin-bottom: 7rem;
}

.mt2 {
  margin-top: 5rem;
}

.mtlarge {
  margin-top: 10rem;
}

// Section Hidden Class
section {
  transition: transform 0.4s, opacity 0.4s;
}

.section-hidden {
  opacity: 0;
  transform: translateY(5rem);
}

// Animations
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(+300px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  75% {
    opacity: 0.75;
    transform: translateY(-3px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.soon {
  width: 100%;
  height: 90vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to bottom right,
    rgba($primary-color-1, 0.7),
    rgba($primary-color-2, 0.8)
  );
}
